@font-face {
    font-family: 'sofia_prolight';
    src: url('fonts/sofiapro-light-webfont.woff2') format('woff2'),
         url('fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen and (max-width: 900px) {
    .column {
      width: 100%;
    }
  }
  
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
}

body {
    width: 1000px;
    margin: 0 auto;
    color: #f8f8f8;
    background-image: url("https://i.imgur.com/sjMvvnq.jpg?3");
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'sofia_prolight';
}

.banner {
    padding: 5% 2%;
    margin-top: 44%;
}

h1 {
    letter-spacing: 66px;
    font-size: 54px;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; 
    background-color: black;
    margin: 1%;
}

h3 {
    margin-bottom: 53%;
    letter-spacing:32px;
    font-size: 19px;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #000000;
}

/*NAV*/

.nav {
    color: white;
    margin: -23%;
    padding: 0%;
}
.nav ul {
    background-color: #000000;
    text-align: center;
    padding: 1%;
    margin: 2%;
    color: black;
}
.nav li {
    display: inline;
    margin-right: 40px;
    padding: 5px;
    color: black;
    
}
.nav li a {
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
}

/*BACK BOX*/

#blackblock {
    background-color: black;
}

/*ABOUT ME*/

.aboutme {
    padding-top: 33%;
    margin: 9% 2% 3% 9%;
    padding-bottom: 20%;
}

.about {
    text-align: center;
    padding-bottom: 5%;
    margin-left: 14%;
    margin-bottom: 10%;
}

.about h2 {
    text-align: center;
    padding-right: 150px;
    letter-spacing: 36px;
    font-size: 37px;
}

img.profile {
    position: relative;
    height: auto;
    width: 37%;
    border-radius: 50%;
    float: right;
    margin: 5% 11% 5% 5%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 5%;
}

.abouttext {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}

.abouttext p {
    text-align: justify;
    text-align-last: justify;
    margin: 9%;
}

/*LINKS*/

.links{
    display: inline block;
}

.linkone {
    margin: 5%;
    padding-left:5%;
}
.linkone a {
    color: #f2f2f2;
}

img .linktwo .linkthree {
    height: 25%;
    width: 25%;
}

.linktwo {
    padding: 4%;
}

.linkthree {
    padding: 5%;
}

/*LIBRARIES BOX*/

.libimage {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
}

.containerone {
    position: relative;
    height: auto;
    width: 100%;
    margin-right: 10%;
}

.libtextbox {
    position: absolute;
    bottom: -46%;
    left: 28%;
    right: -12%;
    background-color: #c5a1a1;
    columns: #000000;
    padding: 4%;
    color: #000000;
}

.libtextbox h5 {
    letter-spacing: 7px;
    font-size: 16px;
}

.libtextbox p {
    text-align: justify;
    text-align-last: justify;
}

/*THE FUTURE TEXT*/

.future {
    margin-top: 50%;
}

.future h3 {
    text-align: center;
    letter-spacing: 36px;
    font-size: 45px;
    margin-bottom: -20%;

}

.futuretext {
    padding: 29%;
    margin: 0%;
    text-align: justify;
    text-align-last: justify;
}


/*LIBU BOX*/

.libuimage {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
}

.containertwo {
    position: relative;
    height: 100%;
    width: 100%;
    
}

.libutext {
    position: absolute;
    bottom: -16%;
    left: 47%;
    right: -6%;
    top: 83%;
    background-color: #c5a1a1;
    columns: #000000;
    padding: 2%;
    color: #000000;
    text-align: justify;
}

.libutext h5 {
    letter-spacing: 10px;
    font-size: 16px;
}

/*THE SITE*/

.siteinfo {
    padding: 38% 4% 24% 4%;
    text-align: center;
}

img.logo {
    margin-left: 28%;
    margin-right: auto;
    margin-bottom: -25%;
    width: 32%;
    height: auto;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 14%;
}

.siteinfotext {
    padding: 30%;
    margin-bottom: -33%;
    text-align: justify;
    text-align-last: justify;
}

/*GALLERY*/

* {
    box-sizing: border-box;
}

#gallery {
    text-align: center;
}
  
.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    color: #000000;
    background-color: white;
    padding: 10px;
  }

/*CONTACT DETAILS*/

.contact {
    color: #000000;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact h2 {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
    letter-spacing: 23px;
    font-size: 19px;
}

.form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 14%;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
  }

    /*INPUT FIELDS*/
    input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  
    /*SUBMIT BUTTON*/
    input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
    /* COLOUR CHANGE */
    input[type=submit]:hover {
    background-color: #45a049;
  }

/*BACK TO TOP LINK*/
.top {
    text-align: center;
    text-align-last: center;
    
}

.top a {
    color: #ffffff;
}
/*COPYRIGHT*/
.footer {
    text-align: center;
}