@font-face {
    font-family: 'sofia_prolight';
    src: url('fonts/sofiapro-light-webfont.woff2') format('woff2'),
         url('fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    width: 1140px;
    margin: 0 auto;
    color: #f8f8f8 !important;
    background-color: #000000 !important;
    font-family: 'sofia_prolight' !important;

}

.img-responsive-center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    letter-spacing: 66px;
    font-size: 54px;
    font-style: normal;
    background-color: black;
    text-align: center;

}

h3 {

    letter-spacing:43px;
    font-size: 18px;
    font-style: normal;
    text-align: center;
}

/*NAV*/

.navbar {
    background-color: #000000 !important;
    display: inline;
    text-align: center;
}

#link {
    color: #ffffff;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }


/*ABOUT ME*/

#about {
    text-align: center;
}


#abouttext {
    text-align: justify;
    padding: 37%;
    margin-top: -27%;
    margin-bottom: -28%;
}

img.profile {
    height: auto;
    border-radius: 50%;
    margin-top: 11%;

}

#aboutimage {
    text-align: center;
}



/*LINKS*/

.links{
    display: inherit;
    padding-top: 10%;
    padding-bottom: 10%;
}

.linkone {
    padding: 5%;
}
.linkone a {
    color: #f2f2f2;
}

img .linktwo .linkthree {
    height: 25%;
    width: 25%;
}

.linktwo {
    padding: 4%;
}

.linkthree {
    padding: 5%;
}

/*CONTACT DETAILS*/

.contact {
    color: #000000;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact h2 {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
    letter-spacing: 23px;
    font-size: 19px;
}

div.column.is-half {
    background-color: #665f5f;
    color: #000000;
    border-radius: 10%;
    margin: 30%;
    padding: 6%;
    margin: 28%;
  }




/*BACK TO TOP LINK*/
.top {
    text-align: center;
    text-align-last: center;
    
}

.top a {
    color: #ffffff;
}
/*COPYRIGHT*/
.footer {
    text-align: center;
}
