@font-face {
    font-family: 'sofia_prolight';
    src: url('fonts/sofiapro-light-webfont.woff2') format('woff2'),
         url('fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

body {
    width: 1000px;
    margin: 0 auto;
    color: #f8f8f8;
    /*
    background: #3A1C71;
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71) fixed;
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    */
    background-image: url("https://i.imgur.com/sjMvvnq.jpg?2");
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'sofia_prolight';
}

#blackblock {
    background-color: black;
}
.banner {
    padding: 5% 2%;
    margin-top: 37%;
}
h1 {
    letter-spacing: 51px;
    font-size: 60px;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; 
    background-color: black;

}

h3 {
    padding-bottom: 40px;
    letter-spacing:32px;
    font-size: 19px;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; }

/*NAV*/

.nav {
    color: white;
    margin: 3%;
    padding: 1%;
}

.nav ul {
    background-color: #000000;
    text-align: center;
    padding: 1%;
    margin: 2%;
    color: black;
}

.nav li {
    display: inline;
    margin-right: 40px;
    padding: 5px;
    color: black;
    
}

.nav li a {
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
}

/*ABOUT ME*/

.aboutme {
    padding-top: 14%;
    margin: 9% 2% 3% 9%;
    padding-bottom: 30%;
}
img.profile {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    float: right;
    margin: 5% 11% 5% 5%;
}

#profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}

.about h2 {
    text-align: center;
    padding-right: 150px;
    letter-spacing: 23px;;
    font-size: 35px;
}

.about {
    text-align: center;
    padding-bottom: 5%;
    margin-left: 14%;
}

#profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 5%;

}

.links{
    display: inline block;
}

img .linkone .linktwo {
    height: 25%;
    width: 25%;
}

.linkone {
    padding: 4%;
}

.linktwo {
    padding: 5%;
}

/*LIBRARIES BOX*/
.libsig {
    padding: 0%;
    margin : 0%
}
.libimage {
    position: absolute;
    bottom: -56%;
    right: 1%;
    background-color: #c5a1a1;
    columns: #000000;
    padding-left: 2%;
}

.libimage h4 {
    letter-spacing: 7px;
    font-size: 16px;
}

#libimagebox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
}

.containerone {
    position: relative;
    height: auto;
    width: 100%;
    padding-left: 8%;
  }

/*THE FUTURE TEXT*/
.libraries {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 45% 2% 35% 9%;
}

.libraries h2 {
    text-align: center;
    letter-spacing: 23px;;
    font-size: 35px;

}

/*LIBU BOX*/
.kids {
    position: absolute;
    bottom: -1%;
    right: -4%;
    background-color: #c5a1a1;
    columns: #000000;
    padding-left: 3%;
    padding-right: 3%;
}

#kidsimagebox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
}

.containertwo {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 10%;
    padding: 5% 5% 5% 5%;
  }

/*THE SITE*/
.siteinfo {
    padding: 35% 4% 28% 4%;
}

img.logo {
    display: block;
    margin-left: 31%;
    margin-right: auto;
    width: 34%;
    height: auto;
    border-radius: 50%;
}

.logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 10%;
}

.siteinfo h2 {
    text-align: center;
}

.siteinfotext {
    text-align: center;
    margin-right: 20px;
    margin-left: 30px;
}

/*GALLERY*/
#gallery {
    text-align: center;
}

* {
    box-sizing: border-box;
}
  
.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
  }

/*CONTACT DETAILS*/

#contactheading {
    text-align: center;
    margin-top: 40%;
    margin-bottom: 10%;
    letter-spacing: 23px;
    font-size: 19px;
}

.contact {
    color: #000000;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 14%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
  }

#top {
    text-align: center;
}
/*COPYRIGHT*/
.footer {
    text-align: center;
}